<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand">TROIS</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active"> <a class="nav-link" routerLink="/pesquisa">Busca de passagens</a></li>       
        <li class="nav-item" routerLinkActive="active"> <a class="nav-link" routerLink="/passagens">Tela de resultados</a></li>
        <li class="nav-item" routerLinkActive="active"> <a class="nav-link" routerLink="/teste2">GUARD</a></li>       
        <li class="nav-item" routerLinkActive="active"> <a class="nav-link" routerLink="/teste">Pagina teste</a></li>       
        <li class="nav-item" routerLinkActive="active"> <a class="nav-link" routerLink="/cadastro">Cadastro</a></li>       
        <li class="nav-item" routerLinkActive="active"> <a class="nav-link" routerLink="/auth">Login</a></li>       
      </ul>
    </div>
  </nav>