<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{title}}</span>
        <span class="spacing"></span>
        <ul class="nav navbar-nav">
      
            <a routerLinkActive="active" class="header-item" routerLink="/passagens">PASSAGENS ÁEREAS</a>
            <a routerLinkActive="active" class="header-item" routerLink="/teste">MEU PERFIL</a>
            <a routerLinkActive="active" class="header-item" routerLink="/auth">LOGIN</a>
    </ul>
    </mat-toolbar-row>
</mat-toolbar>