
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 d-flex flex-column pt-2 pb-2" style="background:#5C6BC0 ;">
            <p class="pa-result">Detalhes da compra</p>
            
            
        </div>
        <div class="col-sm-10 .bg-light">

           <div class="row">
               <div class="col-sm-1" style="background: #5C6BC0;">
               </div>
               
              <div class="col-sm-1">
                
              </div>
            
           </div>

        <div class="row">
            <h1 class="texto">Falta Pouco! Complete seus dados e finalize sua compra.</h1>
            <div class="card pg-card shadow p-3 mb-5 bg-white rounded">
                <p class="texto">Como você quer pagar?</p>
                 <div class="form-check">
                    <input class="form-check-input" type="radio" name="pagamentos" id="ct-credito" value="opcao1" checked>
                    <label class="form-check-label" for="ct-credito">
                      Cartão de Crédito
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="pagamentos" id="ct-debito" value="opcao2" checked>
                    <label class="form-check-label" for="ct-debito">
                      Cartão de Débito
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="pagamentos" id="boleto" value="opcao3" checked>
                    <label class="form-check-label" for="boleto1">
                      Boleto Báncario
                    </label>
                  </div>
                  <div>
                    <button type="button" class="btn btn-primary btn-finalizar">Finalizar</button>
                  </div>
                  

            </div>
        </div>
        </div>

        
    </div>

</div>