<div class="container-fluid">
    <h1 class="font-app">Meu Perfil</h1>
    <p class="paragrafo">Email: emailteste@gmail.com</p>
    <hr>
</div>
<h1 class="font-app">Minhas Reservas</h1>
<div class="card">
    <div class="card-body ">
        <div class="d-flex flex-row  ">
            <div class="p-2 reservas">Id </div>
            <div class="p-2 reservas">Reserva</div>
            <div class="p-2 reservas">Dados reserva</div>
            <div class="p-2 detalhes">Detalhes</div>
            


        </div>

    </div>
</div>