
<div class="dropdown" ngbDropdown  #myDrop="ngbDropdown">
    <button  ngbDropdownAnchor  class="btn btn-secondary dropdown-toggle" (focus)="myDrop.open()"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
      <a ngbDropdownItem class="dropdown-item" href="#">Action</a>
      <a ngbDropdownItem class="dropdown-item" href="#">Another action</a>
      <a ngbDropdownItem class="dropdown-item" href="#">Something else here</a>
    </div>
</div>