<div class="container-fluid bg-primary">

<div class="alert alert-danger" *ngIf="error">
    {{error}}
</div>
    <div class="row" *ngIf="!isAuthenticated">
        <button (click)="onSubmit()" >Signup</button>
    </div>
    <div class="row" *ngIf="!isAuthenticated">
        <button (click)="onLogin()" >Login</button>
    </div>

    <div class="row" *ngIf="isAuthenticated">
        <button (click)="logout()" >Logout</button>
    </div>
    <div class="spinner-border" role="status" *ngIf="isLoading">
        <span class="sr-only">Loading...</span>
      </div>

      <div>
      </div>
</div>