<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8 d-flex flex-column justify-content-center align-items-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <b>IDA</b>
                            <p>{{getDepartureDate(0)}}</p>
                        </div>
                        <div class="col">
                            <b>{{getOriginCode(0)}}</b>
                            <p>{{getOriginName(0)}}</p>
                        </div>
                        <div class="col">
                            <b>{{getDestinationCode(0)}}</b>
                            <p>{{getDestinationName(0)}}</p>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col">
                            <b>{{paradas(0)}}</b>
                            <p>{{carrierCode(0)}}</p>
                        </div>
                        <div class="col">
                            <b>{{getDepartureHour(0)}}</b>
                            <p>{{getDepartureDate(0)}}</p>
                        </div>
                        <div class="col">
                            <b>{{getArrivalHour(0)}}</b>
                            <p>{{getArrivalDate(0)}}</p>
                        </div>
                    </div>
                </div>
                <div class="border-top container-fluid" style="margin: 2%" ></div>
                <div class="container-fluid" >
                    <div class="row" > 
                        <div class="col">
                            <b>VOLTA</b>                            
                            <p>{{getDepartureDate(1)}}</p>
                        </div>
                        <div class="col">
                            <b>{{getOriginCode(1)}}</b>
                            <p>{{getOriginName(1)}}</p>
                        </div>
                        <div class="col">
                            <b>{{getDestinationCode(1)}}</b>
                            <p>{{getDestinationName(1)}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <b>{{paradas(1)}}</b>
                            <p>{{carrierCode(1)}}</p>
                        </div>
                        <div class="col">
                            <b>{{getDepartureHour(1)}}</b>
                            <p>{{getDepartureDate(1)}}</p>
                        </div>
                        <div class="col">
                            <b>{{getArrivalHour(1)}}</b>
                            <p>{{getArrivalDate(1)}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 d-flex flex-column justify-content-between border-left">
                <div class="row-sm d-flex justify-content-end">

                    <button [disabled]="favoriteLoading" type="button" style="border: none; background-color: rgba(1,1,1,0);" (click)="favorite()" > <mat-icon aria-hidden="false" aria-label="Example home icon" style="cursor: pointer" >{{isFavorited ? "favorite" : "favorite_border"}}</mat-icon></button>
                </div>


                <div class="row-sm d-flex flex-column align-items-center">

                    Preço Total
                    <h2>R${{flightOffer.price.total}}</h2>
                    <button [disabled]="paymentLoading" type="button" class="btn btn-primary btn-result" (click)="reservar()" >
                        {{!paymentLoading ? "Reservar" : ""}} <div class="spinner-border spinner-border-sm" role="status" *ngIf="paymentLoading"> </div>
                    </button>

                </div>

                <div class="row-sm d-flex justify-content-end">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">facebook</mat-icon>
                </div>

            </div>
        </div>
    </div>