<div class="teste" >
    
    <form>
        <h1>Cadastre-se e aproveite os melhores preços </h1>
        <div class="form-group">
            <label for="nome">Nome Completo</label>
            <input type="text" class="form-control " id="nome" aria-describedby="emailHelp" placeholder="Insira seu nome">
            
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control " id="nome" aria-describedby="emailHelp" placeholder="Insira seu nome de usuário">
        </div>

        <div class="form-group">
            <label for="cpf">Cpf</label>
            <input type="text" class="form-control .cpf-mask" placeholder="000.000.000-00" cpf-mask="000.000.000-00" maxlength="11" autocomplete="off">
            
        </div>
        
        <div class="form-group">
          <label for="email">Email </label>
          <input type="email" class="form-control"   placeholder="insira seu email">
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="informe uma senha">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirmação senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="confirme sua senha">
        </div>
        
        <button type="submit" class="btn btn-primary btn-enviar">Enviar</button>
    
      </form>
</div>


    

