<div class="teste" >
    <fieldset [disabled]="isLoading">
      
    <form #f="ngForm" (ngSubmit)="onSignup(f)" >
        <h1>Cadastre-se e aproveite os melhores preços </h1>
        <div class="form-group">
            <label for="nome">Nome Completo</label>
            <input name="nome" ngModel type="text" class="form-control" pattern="[a-zA-Z\s]+" placeholder="Insira seu nome" required>
            
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input name="login" ngModel type="text" class="form-control" pattern="[a-zA-Z0-9]+" autocomplete="username" placeholder="Insira seu nome de usuário" required>
        </div>

        <div class="form-group">
            <label for="cpf">Cpf</label>
            <input name="cpf" ngModel type="text" class="form-control .cpf-mask" pattern="\d*" placeholder="000.000.000-00" autocomplete="off" cpf-mask="000.000.000-00" maxlength="11" autocomplete="off" required>
            
        </div>
        
        <div class="form-group">
          <label for="email">Email </label>
          <input name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel type="email" class="form-control"  placeholder="insira seu email" autocomplete="email" required>
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input name="senha" ngModel type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password"  placeholder="informe uma senha" required>
        </div>
        <div class="alert alert-danger" *ngIf="error && !isLoading">
          {{error}}
      </div>
       <div class="form-group">
        <button type="submit" class="btn btn-primary" style="background-color: #271F50" >
          {{!isLoading ? "Cadastrar" : ""}} <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading"> </div>
        </button>
      </div>
    
      </form>
    </fieldset>
</div>


    

