.main-container {
  font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../../assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; /*Ajuste de imagem para manter proporção*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}


button {
  background-color: #5172ed;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.btn-cad {
  background-color: #271f50;
  border-radius: 5px;
}



