<div class="main-container" style="color: white;">
  <div class="card" style="background-color: rgba(39, 31, 80, 0.9);min-width: 30%;"  >
    <div class="card-body">
      <fieldset [disabled]="isLoading">
      <form class="d-flex flex-column" #f="ngForm" (ngSubmit)="onLogin(f)">
        <div class="d-flex justify-content-center align-items-center">
          <img src="../../../assets/logo.png" alt="logo" class="rounded" style="width: 20%;">
        </div>
        <label for="uname" style="flex-wrap: wrap;"><b>E-mail</b></label>
        <input type="text" class="form-control " placeholder="Digite seu e-mail..." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  name="email" ngModel required />
        <label for=""><b>Senha</b></label>
        <input type="password"  class="form-control" placeholder="Digite sua senha..." name="senha" ngModel required />
        <div class="alert alert-danger" *ngIf="error && !isLoading">
          {{error}}
        </div>
        <button type="submit">{{!isLoading ? "Login" : ""}} <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading"> </div></button>
        <button type="submit" class="btn-cad" routerLink="/cadastro">Cadastre-se</button>
      </form>
    </fieldset>
    </div>
  </div>
</div>