<div class="container-fluid">
    <ul class="list-group">
        <!-- <li class="list-group-item" *ngFor="let da of data">{{da.id}} {{da.type}} {{da.source}} </li> -->
    </ul>

    <!-- <div class="spinner-border" role="status" *ngIf="isLoading">
        <span class="sr-only">Loading...</span>
      </div> -->

      <!-- <label for="something">
        Input "Something": 
        <input [disabled]="isLoading" name="cpf" ngModel type="text" autocomplete="off" class="form-control" list="somethingelse" required #yourElement [(ngModel)]="yourVar">  
        <datalist id="somethingelse">
            <option *ngFor="let da of data" [value]="da.iataCode" >{{da.name}}</option>
        </datalist> -->

        
<div class="dropdown" ngbDropdown #myDrop="ngbDropdown">
    <input [disabled]="isLoading" ngbDropdownAnchor class="form-control" (focus)="myDrop.open(); resetData()"  type="text" id="dropdownMenuButton" #input />
   
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
      <a ngbDropdownItem class="dropdown-item" *ngFor="let da of data" (click)="input.value = da.iataCode">{{da.iataCode}} - {{da.name}}</a>
    </div>    
</div>

<div class="dropdown" ngbDropdown #myDrop2="ngbDropdown">
    <input [disabled]="isLoading" ngbDropdownAnchor class="form-control" (focus)="myDrop2.open(); resetData()"  type="text" id="dropdownMenuButton" #input2 />
   
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
      <a ngbDropdownItem class="dropdown-item" *ngFor="let da of data" (click)="input2.value = da.iataCode">{{da.iataCode}} - {{da.name}}</a>
    </div>    
</div>

