/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* CSS GLOBAL*/

.icones{
    color: tomato;
}

.v-middle{
    vertical-align: middle;
}

.paragrafo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color:#5C6BC0;
    
}