<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6">
         <fieldset [disabled]="isLoading">
         <form (ngSubmit)="onSearch(f)" #f="ngForm" >
            <div class="container">
               <label for="origem"><b style="color:white;">Origem</b></label>
               <div id="origem" class="dropdown" ngbDropdown #dropOrigin="ngbDropdown">
                  <input name="originCode" ngModel required [disabled]="loadingLocations" ngbDropdownAnchor class="form-control" (focus)="dropOrigin.open(); resetData()"  type="text" id="dropdownMenuButton" #inputOrigin />
                 
                  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                     <a ngbDropdownItem class="dropdown-item" *ngFor="let location of locations" (click)="setInputOrigin(location.iataCode+'|'+location.name)">{{location.iataCode}} - {{location.name}}</a>
                  </div>    
              </div>
               <br>
               <label for="destino"><b style="color: white;">Destino</b></label>
               <div id="destino" class="dropdown" ngbDropdown #dropDestination="ngbDropdown">
                  <input name="destinationCode" ngModel required [disabled]="loadingLocations" ngbDropdownAnchor class="form-control" (focus)="dropDestination.open(); resetData()"  type="text" id="dropdownMenuButton" #inputDestination />
                 
                  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                    <a ngbDropdownItem class="dropdown-item" *ngFor="let location of locations" (click)="setInputDestination(location.iataCode+'|'+location.name)">{{location.iataCode}} - {{location.name}}</a>
                  </div>    
              </div>
               <br>
               <div class="row">
                  <div class="col" style = "display: inline-block;">
                     <label for=""><b style="color: white;">Ida</b></label><br>
                     <input name="departureDate" ngModel type="date"  required />
                  </div>
                  <div class="col" style = "display: inline-block;">
                     <label for=""><b style="color: white;">Volta</b></label><br>
                     <input name="returnDate" ngModel type="date"  required />
                  </div>
               </div>
               

               <br><br>
               <div class="row">
                  <div class="col">
                     <label for="adultos"><b style="color: white;">Adultos</b></label>
                     <input type="number" ngModel="1" min="0" max="9" class="form-control" id="adultos" name="adults" required/>
                  </div>
                  <div class="col">
                     <label for="criancas"><b style="color: white;">Crianças</b></label>
                     <input type="number" ngModel="0" min="0" max="9" class="form-control" id="criancas" name="children"  required />
                  </div>
               </div>
               <br>
               <div class="alert alert-danger" *ngIf="error && !isLoading">
                  {{error}}
              </div>
               <button type="submit" >
                  {{!isLoading ? "Procurar →" : ""}} <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading"> </div>
                </button>
            </div>
         </form>
      </fieldset>
      </div>
      <div class="col-sm-6">
         <img src="../../../assets/back-pesquisa.png" class="img-fluid" alt="Imagem responsiva">
      </div>
   </div>
</div>