<div class="container-fluid">
    <div class="row">
       <div class="col-sm-6">
          <form>
             <div class="container">
                <label for="origem"><b style="color:white;">Origem</b></label>
                <select class="form-control" id="origem">
                   <option>Brasilia (BSB)</option>
                   <option>São Paulo (SP)</option>
                   <option>Recife (PE)</option>
                   <option>Salvador(BA)</option>
                   <option>Fortaleza(CE)</option>
                </select>
                <br>
                <label for="destino"><b style="color: white;">Destino</b></label>
                <select class="form-control" id="destino">
                   <option>Brasilia (BSB)</option>
                   <option>São Paulo (SP)</option>
                   <option>Recife (PE)</option>
                   <option>Salvador(BA)</option>
                   <option>Fortaleza(CE)</option>
                </select>
                <br>
                <div style = "display: inline-block;">
                   <label for=""><b style="color: white;">Ida</b></label><br>
                   <input type="date"  name="" required />
                </div>
                <div style = "display: inline-block;">
                   <label for=""><b style="color: white;">Volta</b></label><br>
                   <input type="date"  name="" required />
                </div>
                <br><br>
                <label for="pessoas"><b style="color: white;">Pessoas</b></label>
                <select class="form-control" id="pessoas">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
                </select>
                <br>
                <button type="submit">Procurar → </button>
             </div>
          </form>
       </div>
       <div class="col-sm-6">
          2 coluna
       </div>
    </div>
 </div>